<%- include('includes/head') %> <%- include('includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center pg-title">Criar conta ou Login</h1>
      <p class="text-center p-title">Faça login ou crie sua conta abaixo</p>

      <%- include('includes/messages') %> 
      
      <div class="row formContainer justify-content-center text-center">

        <div class="col-12 col-sm-5 criarForm">
          <h4>Crie sua Conta</h4>
          <p>se ainda nao tem conta crie uma</p>
          <form class="form-cadastro" action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value= <%= csrfToken %> />
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" />
              <small></small>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" />
              <small></small>
            </div>
            <button type="submit" class="btn">Criar Conta</button>
          </form>
        </div>

        <div class="col-12 col-sm-5 logarForm">
          <h4>Fazer seu Login</h4>
          <p>se voçe ja tem conta, faça login</p>
          <form class="form-login" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value= <%= csrfToken %> /> 
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" />
              <small></small>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" />
              <small></small>
            </div>
            <button type="submit" class="btn">login</button>
          </form>
        </div>
      </div>

      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
<%- include('includes/footer') %>
